[Unit]
Description=PiRemote Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/piremote/piremote-client.py
WorkingDirectory=/etc/piremote
StandardInput=tty-force
StandardOutput=append:/var/log/piremote.log
StandardError=append:/var/log/piremote-error.log

[Install]
WantedBy=multi-user.target